.form-container-main {
    background-color: #50ccb4;
    width: 50%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    height: 100%;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;

}

.form-content-box {
    width: auto;
    border: 1px solid black;
    height: auto;
    background-color: #f8fcf4;
    padding: 5%;
}

.text-val {
    font-size: 14px;
    width: 70%;
    margin: auto;
}

.aadharentry {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;

}

.label {
    width: 35%;
    font-size: 14px;
    font-weight: 700;
    margin-right: 2%;
}

.form-input {
    width: 58%;
}

.aadharsubmit {
    background-color: #a0d0c8;
}

.nextbuttonform {
    background-color: #48842c;
    display: flex;
    border-radius: 10px;
    border-color: #48842c;
    align-items: center;
}

.termsandcondition {
    margin-top: 8%;
}

.condition {
    display: flex;
    text-align: left;
    font-size: 13px;
    margin-top: 2%;
}

.condition input {
    margin: auto;
}

.KYCtext {
    text-align: left;
}

.errorMsg {
    color: red;
    width: 95%;
    text-align: right;
    font-size: 14px;
}