.why-title{
    font-weight: bolder;
    font-size: 60px;
}
.why-text{
    font-size: 16px;
    margin-top: 50px;
    box-shadow: 2px 3px 4px 2px grey;
}
.services{
    font-size: 30px;
    margin-top: 40px;
}
.grid{
    width: 80%;
    box-shadow: 0px 2px 0px 3px grey;
}
.services-head{
    border: 2px solid black;
    width: 30%;
    margin-left: 35%;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px grey;
}
.grid-row{
    margin-top: 10px;
}
.service-col1{
    text-align: left;
}
.service-col2{
    text-align: center;
}
.service-col3{
    text-align: right;
}
a{
    text-decoration: none;
    color: black;
}